/JewelAddinTraining/.vs/JewelAddinTraining/v14/.suo
/JewelAddinTraining/*.user
/JewelAddinTraining/JewelAddinTraining/*/obj/*
/JewelAddinTraining/JewelAddinTraining/*/bin/Debug/
/JewelAddinTraining/JewelAddinTraining/*/*.user
